body { margin: 40px 10px; padding: 0; }
#calendar { max-width: 900px; margin: 0 auto; }


/********** position, layout, padding, margin ***************/


/********** position, layout, padding, margin ***************/
.float-right {display:block; float:right;}
.left-33 { left: 33%; }
.margin-left-33 { margin-left: 30%; }

.padding-10 {padding:10px;}

/********** modal-dialog ***************/
.modal-dialog { width: 500px;}
.modal-content { background: #D7D7D7; border-radius:8px;}
    .modal-content .modal-header .panel-heading { font-size: 18px; color: #3366cc; font-weight: 600; }
    .modal-content .modal-body { background: #F2F2F2; margin: 0 4px 4px 4px; height: 360px; }


/********** Button ***************/
button.nostyle {background:none; border:none;}
button.close { font-size: 30px; font-weight: 600; }

/********** Icons ***************/

.icon_trash { background: url(/Content/img/trash-empty.png) no-repeat; width: 24px; height: 24px; background-size:contain;}
.icon_check { background: url(/Content/img/trash-empty.png) no-repeat; width: 16px; height: 16px; background-size:contain;display:block;}
.icon_arrowDown {background: url(/Content/img/arrow_down.gif) no-repeat; width: 24px; height: 24px; background-size:contain; display:block;}
